<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-title" content="HMI">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>HMI</title>
  </head>
  <body>
  </body>
</html>